/*The max means as you minimize and it gets in this width,
this happens, and min-width means this action is happenning all the time, but when you pass below the min, it stops to happen */
@media (max-width: 1024px){
    .cabecalho{
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        gap: 15px;
    }

    .cabecalho .menu li a{
        padding: 15px;
    }

    .home .informacoes{
        padding: 30px;
    }

    .home .informacoes img{
        max-width: 100px;
    }

    .home .informacoes .titulo{
        font-size: 40px;
    }

    .compre-ja .cartao{
        width: 70%;
    }
}

@media (max-width: 768px){
/*This is putting space on the outside, to make the card not touch the borders of the body */
    .compre-ja{
        padding: 30px;
    }
/*This part is putting space into the card, so all the content will be spaced, and ocupying all the box */
    .compre-ja .cartao{
        padding: 80px 20px;
        width: 100%;
    }

    .compre-ja .informacoes h3{
        font-size: 35px;
    }
/*This makes the contnet in a column, to be easier to see*/
    .compre-ja .informacoes .plataformas{
        flex-direction: column;
    }

    .btn-plataforma{
        margin-top: 15px;
        padding: 15px;
    }

    .btn-comprar{
        width: 100%;
    }
}

@media (max-width: 425px){
    main::after{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4) 100%, transparent 65%);
    }

    .compre-ja .cartao .capa-do-jogo{
        max-width: 80%;
    }
}